@import url('https://fonts.googleapis.com/css2?family=Molle&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
/* 
    TAMIRU MAMO
*/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



:root{
    font-size: 16px;
    --fonts: Molle , sans-serif;
    --fonts1: Montserrat, sans-serif;
    --Yellow: #F6D64A;
    --Teal:	#55BCD5;
    --Purple:	#9B26B0;
    --Blue:	#499BD2;
    --dark-Gray:#222222;
    --light-gray:#EAEAEA;
    --White:#FFFFFF;
    --Black:#000000;
    --sea-blue:#00c5ff;
  
  }
   
/* ----- CHECK FOR USER DARK MODE PREFERENCE ----- */
@media (prefers-color-scheme: dark){
  .day.dark-scheme { background: #333;color:white;}
  .night.dark-scheme{background: black; color: #ddd;}

}
@media (prefers-color-scheme: light) {
  .day.light-scheme { background: white; color: #555;}

  .night.light-scheme { background: #eee; color: black;}
}
/* --------------- BEGIN USER PREFERS DARK COLOR SCHEME QUERY --------------- */
@media (prefers-color-scheme: dark){
  .day.dark-scheme { background: #333;color:white;}
  .night.dark-scheme{background: black; color: #ddd;}

}

/* CHANGE THE BODY'S BACKGROUND COLOR TO THE DARK GRAY IF THE USER PREFERS DARK MODE */
@media (prefers-color-scheme: dark){
  body{
      background-color: #A9A9A9;
  }
}
  /* ----- BODY STYLES ----- */
    
 html{
      box-sizing: border-box;
      line-height: 1.35;
  }

body {
    padding: 1rem 0.5rem;
    font-size: 1.5rem;
    line-height: 1.2;
    margin: 0 auto;
    min-height: 100vh;

   
}
 /* ----- Fonts----- */
 h1, h2, h3{
  font-family: var(--fonts);
  font-weight: 400;
}
h4{
  font-weight: 400;
}
h4, p, q, small, nav, button, form{
  font-family: var(--fonts1);
}
q {
  quotes: auto;
  
}
/* img {
    max-width: 100%;
} */
/* ----- SKIP LINK STYLES ----- */
#skip{
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
  }
   
  #skip:focus{
    position: static;
    width: auto;
    height: auto;
  }

  /* ----- HEADER STYLES ----- */
  header{
    background: linear-gradient(var(--sea-blue),var(--White));
    display: grid;
    grid-template-columns: 1fr 3fr;
    padding-bottom: 2rem;
   
}
#logo{
  padding-top: 2.5rem;
}
header h1{
  grid-column:span 2;
  padding-left:4rem;
  padding-right:4rem;
  order:2;
  font-size: 4.5rem;
  padding-top: 2.5rem;
  
}

 header p{
  grid-column:span 2;
  padding-left:4rem;
  padding-right:4rem;
  font-size: 2rem;
  order:3;
}
#menu-toggle{
  order:1;
  background-color: var( --Yellow);
}
#menu-toggle input[type="checkbox"],
#menu-toggle ul{
  display: none;
} 
#menu-toggle h2{
    
  position:absolute;
  left:-10000px;
  top:auto;
  width:1px;
  height:1px;
  overflow:hidden;        
}

#menu-toggle h2:focus{
position: static;
width: auto;
height: auto;
}
#menu-toggle label{
  display: block;
  text-align: center;
  font-weight: bold;
  padding: 0.6rem;
  }


ul{
  /* display: -webkit-box;
  display: -ms-flexbox; */
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}
li  {
  -ms-flex-preferred-size: 120px;
  flex-basis: 120px; 
  -ms-flex-negative: 0; 
  flex-shrink: 0; 
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1; 
  max-width: 150px;
  margin: 0 2px;
  border: 1px solid lightgray;
  border-radius: 3px;
  background: white;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
li a {
  text-align: center;
  display: inline-block;
  text-decoration: none;
  width: 100%;
  padding: 11px 0;
}
/*---- main-content Style----*/

#intro{
    background-color: var(--White);
}
#intro h2{
  font-size: 3rem;
}
#intro h2,#intro p{
    display: flex;
    flex-flow: column wrap;
    padding-left:4rem;
    padding-right:4rem;
    max-width: 100%;  
}
#intro p{
  font-size: 1.75rem;
  padding-bottom: 1.6rem;
  font-weight: 300;  
  
 
}
/*---- image Style----*/
#img-grid{
    display: block;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    gap:0.6rem; 
    max-width: 100%;
    object-fit: cover;

}
/* #img-grid{
  max-width: 385px;
  
} */

/*---- Plan Your Trip Style ----*/

#plan{
    background-color: var(--Yellow);
    box-sizing: border-box;
    width: 100%;
    /* padding: 10px; */
}

#plan h3 {
    display: block;
    text-align: center;
    padding-top: 1rem; 
    font-weight: bolder;
    font-size: 2.75rem;
}
#plan div {
  display: block;
  padding: 0.6rem;
  margin-left: 4rem;
  margin-right: 4rem;

}
#plan div section{

    background-color: var(--Teal);
    border: 3px solid white;
    border-radius: 1rem;
    margin:  1rem;
    padding: 0.6rem;
   
}
#plan div section h4{

   display: block;
   text-transform: uppercase;
   padding: 0.6rem;
   text-align: center;
   font-weight:bolder;
}


 /*-----testimonials style--- */
 #testimonials{
    background-color: var(--White);
    display: block;
    /* flex-direction: column;
    justify-content: center;
    align-content: center; */
    max-width: 100%;
    
 }
 #testimonials div{
  display: grid;
  padding: 0.6rem;
  margin-left: 4rem;
  margin-right: 4rem;
  max-width: 100%;
  
}
 #testimonials h3{
    display: block;
    margin-top: 1rem;
    margin-left: 2rem;
    font-weight: bolder;
    padding-left: 2rem;  
    padding-top: 1rem;    
    font-size: 2.75rem;
    
 }
 #testimonials div section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 10px;
    
 }
 #testimonials div section img{
    display: block;
    align-items: center;
    object-fit: contain;
    max-width: 100%;
    
 }
 #testimonials div section h4, #testimonials div section p, #testimonials div section q{
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    
 }
 #testimonials div section h4{
  font-weight:bolder;
   text-transform: uppercase;
   padding-top: 10px;
   font-size: 2rem;
    
 }

 /*--about Style-- */
 #about {
    background-color: var(--Blue);
    display: block;
    max-width: 100%;
   
 }
 #about h3{
    display: block;
    padding: 10px;
    font-size: 2.75rem;
    text-align: center;
   
 }
 #about div{
  display: grid;
  grid-template-columns:1fr 1fr;
  justify-content: space-evenly;
  grid-auto-rows: minmax(100px, auto);
  padding:1.6rem;
  margin-left: 4rem;
  margin-right: 4rem;
  max-width: 100%;
 
 
}
#about div h4{
 display:block;
 text-align:left;
 padding-top: 1rem;
 text-transform: uppercase;
 font-weight: bold;

 
}
 #about div section p{
  padding-right: 1rem;
  padding-bottom: 1rem;
    
 } 
 #contact{
  background-color: var(--White);  
  display: block;
  box-sizing: border-box;
  max-width: 100%;
 }
 
 #contact h3 {    
    display: block;
    font-size: 2.75rem;
    padding: 1.6rem;    
   }
   #contact .form-required{
    font-size:2rem ;
    font-family: var(--fonts1);
    font-weight: 300;
  }
   form{
    display: grid;
    box-sizing: border-box;
    
   }
   #names{    
    display: flex;
    flex-direction: column;
    padding: 1.6rem; 
   
  }
  #names label{    
    text-transform: uppercase;
    font-weight: bold;
  }
   #names input{    
    display: block;
    padding: 1.6rem; 
    margin-bottom: 1.6rem;
    border:4px solid var(--Purple);  
    font-size: 1.75rem; 
    max-width: 100%;

   }
   #nums{
    display: grid;
    padding: 1.6rem; 
    max-width: 100%;
    gap:.6rem;
   }
   legend{
    text-transform: uppercase;
    font-weight: bold;
    padding: 1.6rem;
   }
   #nums fieldset{
    display: grid;
    grid-template-columns: 1fr ;
    padding-bottom: 1.6rem;
    overflow: hidden;
    max-width: 100%;
    gap:.6rem;
    
   }
   #nums fieldset legend{ 
    display: block;
    text-align: left;
    padding-left: 0%;
    
    
   }
 input[type=radio] {
    width: 5rem;
    height: 5rem;
    margin-left: 0%;
    accent-color:var(--Purple); 
    border-radius: 50%; 
    float: left;    
}

.radio-label{
  display: flex;
  justify-content: start;
  justify-items: center;
  align-items: center;
  padding-top: 1.6rem;
  padding-left: 1.6rem;
  text-transform: initial;
  font-weight: 300;
}
.required{
  color:var(--Purple) !important;
}
#nums label{    
  display: block;  
  text-transform: uppercase;
  font-weight: bold;
  text-align: left;
  padding-left: 0%;
 
  
}

 #nums input{    
  display: grid;
  padding:1.6rem; 
  margin-bottom: 0.6rem;
  border:4px solid var(--Purple);    
  font-size: 1.75rem; 
  font-weight:300 ;
  gap:.6rem;

} 
#selects{
  display: grid;
  max-width: 100%;
  padding-left: 1.6rem;
  padding-right: 1.6rem;
  gap:.6rem;
  font-size: 1.75rem; 
  font-weight:300 ;
  
}
#selects label{
  display: block;
  text-transform: uppercase;
  font-weight: bold;
  /* padding-left: 1.6rem;  */
}
 #destination, #travelTime {
  display: grid;
  padding: 1.6rem ;
  margin-bottom: 0.6rem; 
  border:4px solid var(--Purple);
  font-size: 1.75rem; 
  font-weight:300 ;
  width:100%;
  gap:.6rem;
}

#mySubmit{
  display: grid;
  padding: 1.6rem;
  margin-left: 0;
  background-color:  var(--Purple);  
  text-transform: uppercase;
  font-weight: 400;
  max-width: 100%;
  font-size: 1.75rem; 
  color: var(--White);
  font-family: var(--fonts1);
  padding-bottom: 1.6rem;
  gap:.6rem;
  
}
footer{
  display:flex;
  flex-direction: column;
  background-color:  var(--light-gray);
  font-family: var(--fonts1);
  margin-top: 0%;
  margin-bottom:.6rem;
  max-width: 100%; 
  height: auto;
  padding: 1.6rem;
  font-size: 1.5rem; 
  
}
footer a, footer p{
  text-decoration: none;
  text-align: center;
  padding: .6rem;
  font-size: 1.5rem; 
  font-weight: 400;
}

@media screen and (min-width: 650px){
  header{
    background: linear-gradient(var(--sea-blue),var(--White));
    display: grid;
    grid-template-columns: 1fr 3fr;
    padding-bottom: 2rem;  
    position: relative;  
    height:auto;    
}
 
  header h1{
    grid-column:span 2;
    padding-left:4rem;
    padding-right:4rem;
    order:0;
    font-size: 2rem;
    position: absolute;
    top: -8px;
    left: 200px;   
  }
  
   header p{
    grid-column:span 2;
    padding-left:4rem;
    padding-right:4rem;
    font-size: 1rem;
    order:0;
    position: relative;
    top: -50px;
    left: 200px;
   width: 100vw;
  }
  #menu-toggle label{
    display: none;
  
  }
  #menu-toggle{
    background-color:transparent;
  }
  #menu-toggle ul{
  display: flex;
   width: 650px; 
   justify-content:end;
   margin-left: 100px;
  }
  #menu-toggle ul li{
    display: inline; 
    text-align: center;
    padding: 0.6rem;
    margin: 0.6rem;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: bold;    
  }
  #menu-toggle ul li a{
    text-transform: uppercase;
    font-weight: bold;    
  }
  li:nth-child(1) {
    background-color: var(--Yellow);
    
}

 /* #img-grid img:nth-last-child(2n+1) {
  display:grid; 
  grid-template-columns: 1fr 1fr;
  
  
} */
/* #intro{
  display: block;
  
} */
/* #intro h2,#intro p{
  display: block; 
} */

 /* #img-grid {
  display:grid;   
  grid-template-columns: 1fr 1fr ;
  gap:10px;   
}  */
/* #img-grid picture{
  display: grid; 
  
  margin-top: 10px;

} */
#plan h3{
  display: block;
  text-align: left;
  padding-left: 6rem;
}
#plan div{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
#testimonials div{
  display: grid;
  grid-template-columns: 1fr 1fr;

}
#about h3{
  display: block;
  text-align: left;
  padding-left: 1rem;
}
#about div{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap:1.6rem

}
#nums fieldset{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-bottom: 1.6rem;
  overflow: hidden; 
  gap:.6rem;
}
#mySubmit{
  display: grid;  
  max-width: 60%;
  margin-right: 0%; 
  margin-left: 400px;
  padding-left: 3rem;
  padding-right: 3rem;
  
}
footer{
  display: flex;
  flex-direction: row;
}
 }

 @media screen and (min-width: 1000px){


  #menu-toggle{
      display: grid;
      position: relative;
      order:1;
      top: -180px;
      left: 500px;
      
      overflow:hidden; 

    }

header h1{ 
  top: 46px;
  left: 154px;  
}

 header p{
  top: -8px;
  left: 154px; 
}
 /* #img-grid {
    display:flex; 
    margin-bottom: 10px;  
        
  }  */
  #plan div{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap:20px;
  }
  #testimonials div{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap:20px;
  
  }
  form{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap:20px;
  }
  footer{
    display: grid;
    grid-template-columns: 4fr 1fr 1fr;
    gap:20px;
   
  }
 }
