@import url('https://fonts.googleapis.com/css2?family=Molle&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
/* 
    TAMIRU MAMO
*/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



:root{
    font-size: 16px;
    --fonts: Molle , sans-serif;
    --fonts1: Montserrat, sans-serif;
    --Yellow: #F6D64A;
    --Teal:	#55BCD5;
    --Purple:	#9B26B0;
    --Blue:	#499BD2;
    --dark-Gray:#222222;
    --light-gray:#EAEAEA;
    --White:#FFFFFF;
    --Black:#000000;
  
  }
   
/* ----- CHECK FOR USER DARK MODE PREFERENCE ----- */
@media (prefers-color-scheme: dark){
  .day.dark-scheme { background: #333;color:white;}
  .night.dark-scheme{background: black; color: #ddd;}

}
@media (prefers-color-scheme: light) {
  .day.light-scheme { background: white; color: #555;}

  .night.light-scheme { background: #eee; color: black;}
}
/* --------------- BEGIN USER PREFERS DARK COLOR SCHEME QUERY --------------- */
@media (prefers-color-scheme: dark){
  .day.dark-scheme { background: #333;color:white;}
  .night.dark-scheme{background: black; color: #ddd;}

}

/* CHANGE THE BODY'S BACKGROUND COLOR TO THE DARK GRAY IF THE USER PREFERS DARK MODE */
@media (prefers-color-scheme: dark){
  body{
      background-color: #A9A9A9;
  }
}
  /* ----- BODY STYLES ----- */
    
 html{
      box-sizing: border-box;
      line-height: 1.35;
  }

body {
    padding: 1rem 0.5rem;
    font-size: 1.5rem;
    line-height: 1.2;
    margin: 0 auto;
    min-height: 100vh;

   
}
 /* ----- Fonts----- */
 h1, h2, h3{
  font-family: var(--fonts);
  font-weight: 400;
}
h4{
  font-weight: 400;
}
h4, p, q, small, nav, button, form{
  font-family: var(--fonts1);
}
q {
  quotes: auto;
  
}
/* img {
    max-width: 100%;
} */
/* ----- SKIP LINK STYLES ----- */
#skip{
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
  }
   
  #skip:focus{
    position: static;
    width: auto;
    height: auto;
  }

  /* ----- HEADER STYLES ----- */
  header{
    background: linear-gradient(var(--sea-blue), var(--white));
    display: grid;
    grid-template-columns: 1fr 3fr;
    padding-bottom: 2rem;
}
header h1{
  grid-column:span 2;
  padding-left:4rem;
  padding-right:4rem;
  order:2;
  font-size: 4rem;
}

 header p{
  grid-column:span 2;
  padding-left:4rem;
  padding-right:4rem;
  font-size: 1.5rem;
  order:3;
}
#menu-toggle{
  order:1;
  background-color: var( --Yellow);
}
#menu-toggle input[type="checkbox"],
#menu-toggle ul{
  display: none;
} 
#menu-toggle h2{
    
  position:absolute;
  left:-10000px;
  top:auto;
  width:1px;
  height:1px;
  overflow:hidden;        
}

#menu-toggle h2:focus{
position: static;
width: auto;
height: auto;
}
#menu-toggle label{
  display: block;
  text-align: center;
  font-weight: bold;
  padding: 0.6rem;
  }


ul{
  /* display: -webkit-box;
  display: -ms-flexbox; */
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}
li  {
  -ms-flex-preferred-size: 120px;
  flex-basis: 120px; 
  -ms-flex-negative: 0; 
  flex-shrink: 0; 
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1; 
  max-width: 150px;
  margin: 0 2px;
  border: 1px solid lightgray;
  border-radius: 3px;
  background: white;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
li a {
  text-align: center;
  display: inline-block;
  text-decoration: none;
  width: 100%;
  padding: 11px 0;
}
/*---- main-content Style----*/

#intro{
    background-color: var(--White);
}
#intro h2,#intro p{
    display: flex;
    flex-flow: column wrap;
    padding-left:4rem;
    padding-right:4rem;
    max-width: 100%; 
   
}
/*---- image Style----*/
#img-grid{
    display: block;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    gap:0.6rem; 
    max-width: 100%;
    object-fit: cover;

}


/*---- Plan Your Trip Style ----*/

#plan{
    background-color: var(--Yellow);
    box-sizing: border-box;
    width: 100%;
    /* padding: 10px; */
}

#plan h3 {
    display: block;
    text-align: center;
   padding-top: 1rem; 
    font-weight: bolder;
}
#plan div {
  display: block;
  padding: 0.6rem;
  margin-left: 4rem;
  margin-right: 4rem;

}
#plan div section{

    background-color: var(--Teal);
    border: 3px solid white;
    border-radius: 1rem;
    margin:  1rem;
    padding: 0.6rem;
   
}
#plan div section h4{

   display: block;
   text-transform: uppercase;
   padding: 0.6rem;
   text-align: center;
   font-weight:bolder;
}


 /*-----testimonials style--- */
 #testimonials{
    background-color: var(--White);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    
 }
 #testimonials h3{
    display: block;
    margin-top: 20px;
    margin-left: 40px;
    font-weight: bolder;
    
 }
 #testimonials div section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 10px;
    
 }
 #testimonials div section img{
    display: block;
    align-items: center;
    
 }
 #testimonials div section h4, #testimonials div section p, #testimonials div section q{
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    
 }
 #testimonials div section h4{
  font-weight:bolder;
   text-transform: uppercase;
   padding-top: 10px;
    
 }

 /*--about Style-- */
 #about {
    background-color: var(--Blue);
    display: block;
   
 }
 #about h3{
    background-color: var(--Blue);
    display: block;
    padding: 10px;
   
 }
 #about div{
   
    display: grid;
    grid-template-columns: repeat(2,auto) ;
    gap: 0.6rem;
    width: 100%;
    height: 100%;
    padding-right: 20px;
    padding-left: 20px;
   
 }
 #about div img{
    width: 45%;
    /* height:auto; */
    object-fit:cover;
    padding-top: 0.6rem;
    text-transform: uppercase;
    
 }
 #about div section h4{
    text-transform: uppercase;
    font-weight: bold;
    
 }
 #contact{
  background-color: var(--White);  
  display: block;
 }
 #contact h3 {    
    display: block;
    align-items: center;
    padding: 0.6rem;
    
   }
   #names{    
    display: flex;
    flex-direction: column;
    padding: 0.6rem; 
  }
  #names label{    
    text-transform: uppercase;
    font-weight: bold;
  }
   #names input{    
    display: block;
    padding: 0.6rem; 
    margin-bottom: 0.6rem;
    border:2px solid var(--Purple);   

   }
   #nums{
    display: flex;
    flex-direction: column;
    padding: 0.6rem; 
   }
   legend{
    text-transform: uppercase;
    font-weight: bold;
   }
   #nums fieldset{
    display: grid;
    grid-template-columns: 1fr;
    padding-bottom: 1.6rem;
    
   }
 input[type=radio] {
    width: 4rem;
    height: 4rem;
    margin-left: 0%;
    accent-color:var(--Purple); 
    box-shadow:  0 0 1px var(--Purple);    
  
}
.required{
  color:var(--Purple) !important;
}
#nums label{    
  display: block;
  flex-direction: column;
  text-transform: uppercase;
  font-weight: bold;
  
}
 #nums input{    
  display: block;
  padding: 0.6rem; 
  margin-bottom: 0.6rem;
  border:2px solid var(--Purple);  
} 
#selects{
  display: block;
}
#selects label{
  display: block;
  text-transform: uppercase;
  font-weight: bold;
  padding-left: 0.6rem; 
}
 #destination, #travelTime {
  display: block;
  padding: .6rem 9.6rem .6rem  .6rem ; 
  margin-bottom: 0.6rem;
  margin-left: 0.6rem;
  border:2px solid var(--Purple);
}
#mySubmit{
  display: block;
  padding: .6rem 7.35rem .6rem  7.35rem ;  
  /* margin-bottom: 0.6rem; */
  margin-left: 0.6rem;
  background-color:  var(--Purple);
  color:var(--White) ;
  text-transform: uppercase;
  font-weight: bold;
  
}
footer{
  display:flex;
  flex-direction: column;
  background-color:  var(--light-gray);
  font-family: var(--fonts1);
  margin-top: 0%;
  /* width: 100%; */
  height: auto;
  padding: .6rem;
  font-size:small ;
  
}
footer a, footer p{
  text-decoration: none;
  text-align: center;
  padding: .6rem;
}

@media screen and (min-width: 650px){
  header {
 
  background: linear-gradient(var(--Teal),var(--White));
  
}

/* main{
  display: grid;
  grid-gap: 0.75em;
  grid-template-columns: 1fr 1fr;
  margin: 1em 0;
}

section{
  background-color: var(--yellow);
  color: var(--dark-gray);
  margin: 0;
}

#one, #two, #seven, #eight{
  grid-column: 1/3;
}

img{
  width: 200px;
  max-width: 200px;
}  */
}